{% extends "_layoutCategories" %}

{% block content %}
    {% set entries = craft.entries().section('headerHome') %}
    {% for entry in entries %}
  <h1>{{entry.titleHome}}</h1>
    <p class="categorie-text">Categorieën</p>
    <div class="categories">
      <a href="home.twig" class="categorie" data-category="Recent">Recent</a>
      <a href="politiek.twig" class="categorie active" data-category="politiek"
        >Politiek</a
      >
      <a href="economie.twig" class="categorie" data-category="economie"
        >Economie</a
      >
      <a href="gezondheid.twig" class="categorie" data-category="gezondheid"
        >Gezondheid</a
      >
      <a href="klimaat.twig" class="categorie" data-category="klimaat"
        >Klimaat</a
      >
    </div>
      {% endfor %}
     <div class="artikels">
    {% set entries = craft.entries().section('politiekArtikels') %}
    {% for entry in entries %}
      <a href="{{ entry.url }}">
        <div class="artikel">
          <img
            class="artikel-image"
            src="{{entry.foto.one() ? entry.foto.one().url : '/path/to/default-image.jpg'}}"
            alt="oxfam"
          />
          <div class="artikel-text">
            <h2 class="artikel-h2">{{entry.headerartikels}}</h2>
            <p class="artikel-p">
              {{entry.ondertekst}}
            </p>
            <span>{{entry.datum}}</span>
          </div>
          <img class="like" 
                 data-like-src="{{entry.like.one() ? entry.like.one().url : '/path/to/like-image.jpg'}}" 
                 data-unlike-src="{{entry.unlike.one() ? entry.unlike.one().url : '/path/to/unlike-image.jpg'}}" 
                 src="{{entry.unlike.one() ? entry.unlike.one().url : '/path/to/unlike-image.jpg'}}" 
                 alt="like-button"/>
        </div>
      </a>
      {% endfor %}
    </div>

   
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const likeImages = document.querySelectorAll(".like");

        likeImages.forEach((likeImage) => {
            likeImage.addEventListener("click", (event) => {
                // Prevent the default action of the anchor tag
                event.preventDefault();

                // Stop the click event from propagating to the parent elements (like the anchor tag)
                event.stopPropagation();

                const currentSrc = likeImage.src;
                const likeSrc = likeImage.getAttribute("data-like-src");
                const unlikeSrc = likeImage.getAttribute("data-unlike-src");

                if (currentSrc === unlikeSrc) {
                    likeImage.src = likeSrc;
                } else {
                    likeImage.src = unlikeSrc;
                }
            });
        });
      });
    </script>
{% endblock  %}
